<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservación de Asientos</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@4.4.0/dist/gridstack.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <h1 class="text-3xl font-bold text-center my-6">Reservación de Asientos para el Evento {{ event_id }}</h1>

    <!-- Tarjeta con descripción de las sillas  -->
    <div class="flex justify-center items-center space-x-4 bg-white p-2 shadow-md rounded-lg mx-auto mb-6 max-w-sm w-full">
        <div class="flex items-center space-x-2">
            <img src="{% static 'assets/img/illustrations/silla_azul.svg' %}" alt="Disponible" class="w-6 h-6 md:w-8 md:h-8">
            <span class="text-sm md:text-base font-semibold text-blue-600">Disponible</span>
        </div>
        <div class="flex items-center space-x-2">
            <img src="{% static 'assets/img/illustrations/silla_roja.svg' %}" alt="Ocupada" class="w-6 h-6 md:w-8 md:h-8">
            <span class="text-sm md:text-base font-semibold text-red-600">Ocupada</span>
        </div>
    </div>

    <div class="grid-stack"></div>

    <script src="https://cdn.jsdelivr.net/npm/gridstack@4.4.0/dist/gridstack-h5.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const eventID = "{{ event_id }}";  // Usar el ID del evento pasado desde la vista
            const ws = new WebSocket(`ws://${window.location.host}/ws/event/${eventID}/`);

            const grid = GridStack.init({
                cellHeight: 80,
                disableResize: true,
                float: true
            });

            const seats = [
                { id: 'seat1', x: 0, y: 0, status: 'available' },
                { id: 'seat2', x: 1, y: 0, status: 'available' },
                { id: 'seat3', x: 2, y: 0, status: 'available' }
                // Agrega más asientos según sea necesario
            ];

            seats.forEach(seat => {
                const el = document.createElement('div');
                el.classList.add('grid-stack-item');
                el.innerHTML = `
                    <div class="grid-stack-item-content ${seat.status}" id="${seat.id}">
                        <img src="{% static 'assets/img/illustrations/silla_azul.svg' %}" class="seat-svg w-10 h-10 mx-auto" />
                    </div>`;
                grid.addWidget(el, { x: seat.x, y: seat.y, w: 1, h: 1 });

                el.addEventListener('click', () => {
                    const seatElement = document.getElementById(seat.id);
                    const status = seatElement.classList.contains('available');

                    console.log('Enviando mensaje:', { 'seat_id': seat.id, 'status': status });

                    ws.send(JSON.stringify({
                        'seat_id': seat.id,
                        'status': status
                    }));
                });
            });

            ws.onmessage = (e) => {
                const data = JSON.parse(e.data);
                const seatID = data.seat_id;
                const status = data.status;

                console.log('Mensaje recibido:', data);

                // Actualiza el asiento en el DOM
                const seatElement = document.getElementById(seatID);
                if (seatElement) {
                    seatElement.className = `grid-stack-item-content ${status ? 'reserved' : 'available'}`;
                    seatElement.querySelector('.seat-svg').src = status ? '{% static "assets/img/illustrations/silla_roja.svg" %}' : '{% static "assets/img/illustrations/silla_azul.svg" %}';
                }
            };

            ws.onopen = () => {
                console.log('WebSocket conectado');
            };

            ws.onclose = (event) => {
                if (event.wasClean) {
                    console.log(`[close] Conexión cerrada limpiamente, código=${event.code}, razón=${event.reason}`);
                } else {
                    console.log('[close] Conexión muerta');
                }
            };

            ws.onerror = (error) => {
                console.error('Error en WebSocket:', error);
            };
        });
    </script>
</body>
</html>
